PDS_HOSTNAME={{ bluesky_pds_hostname }}
PDS_JWT_SECRET={{ bluesky_pds_secret.stdout }}
PDS_ADMIN_PASSWORD={{ bluesky_pds_admin_password }}
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX={{ bluesky_pds_plc_rotation_key.stdout }}
PDS_DATA_DIRECTORY=/pds
PDS_BLOBSTORE_DISK_LOCATION=/pds/blocks
PDS_BLOB_UPLOAD_LIMIT={{ bluesky_pds_upload_limit }}
PDS_DID_PLC_URL={{ bluesky_pds_plc_url }}
PDS_BSKY_APP_VIEW_URL={{ bluesky_pds_app_view_url }}
PDS_BSKY_APP_VIEW_DID={{ bluesky_pds_app_view_did }}
PDS_REPORT_SERVICE_URL={{ bluesky_pds_report_service_url }}
PDS_REPORT_SERVICE_DID={{ bluesky_pds_report_service_did }}
PDS_CRAWLERS={{ bluesky_pds_crawlers }}
LOG_ENABLED=true